.table-card-custom-height {
    /* height: calc(90vh - 50px); */
    height: calc(85vh - 50px);
}

.x-scrollbar {
    overflow-y: scroll;
}

.padding-14 {
    padding: 14px;
}

.card-margin {
    margin: 4px;
}

.grey-btn {
    background-color: #EEEEEE !important;
    color: #000 !important;
}

.qty-btn-margin {
    margin: 2px
}